<div class="content-row full text-align-center row_padding_left row_padding_right dark-section" data-bgcolor="#0c0c0c">
                                
    <div id="itemsWrapperLinks">                               
        <div id="itemsWrapper" class="webgl-fitthumbs fx-one"> 
    
            <div class="overlapping-gallery">
            
                <div class="overlapping-image">
                    <div class="overlapping-image-inner trigger-item" data-centerline="OPEN">                                                    
                        <div class="img-mask">
                            <a class="slide-link" data-type="page-transition" href="project01.html"></a>
                            <div class="section-image trigger-item-link">
                                <img src="assets/images/01hero.jpg" class="item-image grid__item-img" alt="">
                            </div>                                                
                            <img src="assets/images/01hero.jpg" class="grid__item-img grid__item-img--large" alt="">                              
                        </div>
                        <div class="slide-caption trigger-item-link-secondary">
                            <div class="slide-title primary-font-title"><span>White Liners</span></div>
                            <div class="slide-date"><span>2024</span></div>
                            <div class="slide-cat"><span>Photography</span></div>                                           
                        </div>
                    </div>
                </div>
                
                <div class="overlapping-image">
                    <div class="overlapping-image-inner trigger-item" data-centerline="OPEN">                                                    
                        <div class="img-mask">
                            <a class="slide-link" data-type="page-transition" href="project02.html"></a>
                            <div class="section-image trigger-item-link">
                                <img src="assets/images/02hero.jpg" class="item-image grid__item-img" alt="">
                            </div>                                                
                            <img src="assets/images/02hero.jpg" class="grid__item-img grid__item-img--large" alt="">                              
                        </div>
                        <div class="slide-caption trigger-item-link-secondary">
                            <div class="slide-title primary-font-title"><span>Green Audio</span></div>                                                    
                            <div class="slide-date"><span>2024</span></div>
                            <div class="slide-cat"><span>Photography</span></div>                                      
                        </div>
                    </div>
                </div>
                
                <div class="overlapping-image">
                    <div class="overlapping-image-inner trigger-item" data-centerline="OPEN">                                                    
                        <div class="img-mask">
                            <a class="slide-link" data-type="page-transition" href="project03.html"></a>
                            <div class="section-image trigger-item-link">
                                <img src="assets/images/03hero.jpg" class="item-image grid__item-img" alt="">
                            </div>                                                
                            <img src="assets/images/03hero.jpg" class="grid__item-img grid__item-img--large" alt="">                              
                        </div>
                        <div class="slide-caption trigger-item-link-secondary">
                            <div class="slide-title primary-font-title"><span>Nanotech</span></div>                                                    
                            <div class="slide-date"><span>2024</span></div>
                            <div class="slide-cat"><span>Branding</span></div>                                           
                        </div>
                    </div>
                </div>
                
                <div class="overlapping-image">
                    <div class="overlapping-image-inner trigger-item change-header" data-centerline="OPEN">                                                    
                        <div class="img-mask">
                            <a class="slide-link" data-type="page-transition" href="project04.html"></a>
                            <div class="section-image trigger-item-link">
                                <img src="assets/images/04hero.jpg" class="item-image grid__item-img" alt="">
                                <div class="hero-video-wrapper">
                                    <video loop="" muted="" class="bgvid">
                                        <source src="media/04hero.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>                                                
                            <img src="assets/images/04hero.jpg" class="grid__item-img grid__item-img--large" alt="">                              
                        </div>
                        <div class="slide-caption trigger-item-link-secondary">
                            <div class="slide-title primary-font-title"><span>Cool Dude</span></div>
                            <div class="slide-date"><span>2024</span></div>
                            <div class="slide-cat"><span>Video Production</span></div>                                         
                        </div>
                    </div>
                </div>
                
                <div class="overlapping-image">
                    <div class="overlapping-image-inner trigger-item" data-centerline="OPEN">                                                    
                        <div class="img-mask">
                            <a class="slide-link" data-type="page-transition" href="project05.html"></a>
                            <div class="section-image trigger-item-link">
                                <img src="assets/images/05hero.jpg" class="item-image grid__item-img" alt="">
                            </div>                                                
                            <img src="assets/images/05hero.jpg" class="grid__item-img grid__item-img--large" alt="">                              
                        </div>
                        <div class="slide-caption trigger-item-link-secondary">
                            <div class="slide-title primary-font-title"><span>Sphere Digital</span></div>                                                    
                            <div class="slide-date"><span>2024</span></div>
                            <div class="slide-cat"><span>Graphic Design</span></div>                                           
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div> 
    </div>
    
    <hr>
    
    <p>
        <span class="has-opacity">CRAFTING WEBSITES WHERE THE ELEGANCE</span>
        <br class="destroy">
        <span class="has-opacity">OF DESIGN INTERSECTS WITH THE SCIENCE OF SELLING PRODUCTS.</span>
    </p>
                                  
    <div class="button-box text-align-center has-animation fadeout-element">             
        <div class="clapat-button-wrap parallax-wrap hide-ball">
            <div class="clapat-button parallax-element">
                <div class="button-border outline rounded parallax-element-second">
                    <a class="ajax-link" href="index-showcase-grid.html" data-type="page-transition">
                        <span data-hover="See All Works">See All Works</span>
                     </a>
                 </div>
            </div>
        </div> 
    </div>
     
    
</div> 