<div class="content-row full row_padding_left row_padding_right row_padding_bottom text-align-center dark-section" data-bgcolor="#0c0c0c">
            
    <hr><hr><hr class="destroy">
    <h2 class="big-title primary-font-title no-margins has-mask-fill">More Awards</h2>
    <hr><hr><hr><hr class="destroy">
    
    <!-- Flex Lists --> 
    <ul class="flex-lists-wrapper">                                                            
        <li class="flex-list link has-animation">
            <span class="flex-list-left">Awwwards</span>
            <span class="flex-list-center">Developer Award, Site of the Day, Honorable Mention</span>
            <span class="flex-list-right">x08 Awards</span>
        </li>
        <li class="flex-list link has-animation">
            <span class="flex-list-left">CSS Design Awards</span>
            <span class="flex-list-center">Website of the Day, Special Kudos</span>
            <span class="flex-list-right">x06 Awards</span>
        </li>
        <li class="flex-list link has-animation">
            <span class="flex-list-left">Behance</span>
            <span class="flex-list-center">Featured UX/UI and XD Design</span>
            <span class="flex-list-right">x04 Awards</span>
        </li>
        <li class="flex-list link has-animation">
            <span class="flex-list-left">CSS Light</span>
            <span class="flex-list-center">Featured Website, Featured Design</span>
            <span class="flex-list-right">x12 Awards</span>
        </li>
        <li class="flex-list link has-animation">
            <span class="flex-list-left">FWA Awards</span>
            <span class="flex-list-center">FWA of the day, FWA of the month</span>
            <span class="flex-list-right">x04 Awards</span>
        </li>
        <li class="flex-list link has-animation">
            <span class="flex-list-left">One Page Love</span>
            <span class="flex-list-center">Site of the Day</span>
            <span class="flex-list-right">x10 Awards</span>
        </li>
        <li class="flex-list link has-animation">
            <span class="flex-list-left">SiteInspire</span>
            <span class="flex-list-center">Featured Website</span>
            <span class="flex-list-right">x08 Awards</span>
        </li>
        <li class="flex-list link has-animation">
            <span class="flex-list-left">CSS Winner</span>
            <span class="flex-list-center">Site of the Day, Special Mention</span>
            <span class="flex-list-right">x12 Awards</span>
        </li>                        
    </ul>
    
    <hr class="destroy">

</div> 