


<!-- Row -->
<div class="content-row dark-section text-align-center" data-bgcolor="#0c0c0c">

    <div class="one_third has-animation" data-delay="100">
     
     <div class="box-icon-wrapper block-boxes">
         <div class="box-icon">
             <i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i>
         </div>
         <div class="box-icon-content">
             <h6 class="no-margins"><a href="mailto:office@montoya.com" class="link"><span>officemontoya.com</span></a></h6>
             <p>Email</p>
         </div>
     </div> 
                            
 </div>
 
 <div class="one_third has-animation" data-delay="200">
     
     <div class="box-icon-wrapper block-boxes">
         <div class="box-icon">
             <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
         </div>
         <div class="box-icon-content">
             <h6 class="no-margins">35 M Str, New York, USA</h6>
             <p>Address</p>
         </div>
     </div>
                             
 </div>
 
 <div class=" one_third last has-animation" data-delay="300">
     
     <div class="box-icon-wrapper block-boxes">
         <div class="box-icon">
             <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
         </div>
         <div class="box-icon-content">
             <h6 class="no-margins">0040 (7763) 574-8901</h6>
             <p>Phone</p>
         </div>
     </div>
     
 </div> 
                        
</div> 

<!-- <div class="content-row dark-section text-align-center" data-bgcolor="#0c0c0c">
                           
    <div class="one_third has-animation" data-delay="100">
     
     <div class="box-icon-wrapper block-boxes">
         <div class="box-icon">
             <i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i>
         </div>
         <div class="box-icon-content">
             <h6 class="no-margins"><a href="mailto:office@montoya.com" class="link"><span>office@montoya.com</span></a></h6>
             <p>Email</p>
         </div>
     </div> 
                            
 </div>
 
 <div class="one_third has-animation" data-delay="200">
     
     <div class="box-icon-wrapper block-boxes">
         <div class="box-icon">
             <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
         </div>
         <div class="box-icon-content">
             <h6 class="no-margins">35 M Str, New York, USA</h6>
             <p>Address</p>
         </div>
     </div>
                             
 </div>
 
 <div class=" one_third last has-animation" data-delay="300">
     
     <div class="box-icon-wrapper block-boxes">
         <div class="box-icon">
             <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
         </div>
         <div class="box-icon-content">
             <h6 class="no-margins">0040 (7763) 574-8901</h6>
             <p>Phone</p>
         </div>
     </div>
     
 </div> 
                        
</div>  -->