
    <main>      
        <!-- Preloader -->
        <app-preloader> </app-preloader>
        <!--/Preloader -->    

        <div class="cd-index cd-main-content">
            <!-- Page Content -->
            <div id="clapat-page-content" class="light-content" data-bgcolor="#0c0c0c">
                <!-- Header -->
                <app-header> </app-header>
                <!--/Header -->

                <!-- Content Scroll -->
                <div id="content-scroll">
                    <!-- Main -->
                    <div id="main">
                        <!-- Hero Section -->
                        <div id="hero"></div>
                        <!--/Hero Section -->   
                        
                        <!-- Main Content -->
                        <div id="main-content">
                            <!-- Main Page Content -->
                            <div id="main-page-content" class="content-max-width">
                                <router-outlet></router-outlet> <!-- This will be replaced with the page content -->
                            </div>
                            <!--/Main Page Content -->

                            <!-- Page Navigation --> 
                            <app-page-nav></app-page-nav>
                            <!--/Page Navigation -->
                        </div>
                        <!--/Main Content --> 
                    </div>
                    <!--/Main -->

                    <!-- Footer -->
                    <app-footer></app-footer>
                    <!--/Footer -->
                </div>
                <!--/Content Scroll -->

                <div id="app"></div>
            </div>    
            <!--/Page Content -->
        </div>
    </main>

    <div class="cd-cover-layer"></div>
    <div id="magic-cursor">
        <div id="ball">
            <div id="ball-drag-x"></div>
            <div id="ball-drag-y"></div>
            <div id="ball-loader"></div>
        </div>
    </div>
    <div id="clone-image">
        <div class="hero-translate"></div>
    </div>
    <div id="rotate-device"></div>
   
