<div class="content-row full row_padding_top row_padding_bottom dark-section" data-bgcolor="#0c0c0c">
            
    <ul class="team-members-list" data-fx="1">
        <li class="link has-hover-image" data-img="images/team1.jpg">
            <div class="team-member has-animation"><span>Since 2010</span><div class="primary-font-title">Tom Harrison</div><span>Web Designer</span></div>
        </li>
        <li class="link has-hover-image" data-img="images/team2.jpg">
            <div class="team-member has-animation"><span>Since 2012</span><div class="primary-font-title">Ricky Romano</div><span>UX Designer</span></div>
        </li>
        <li class="link has-hover-image" data-img="images/team3.jpg">
            <div class="team-member has-animation"><span>Since 2014</span><div class="primary-font-title">Jane Reeves</div><span>Art Director</span></div>
        </li>
        <li class="link has-hover-image" data-img="images/team4.jpg">
            <div class="team-member has-animation"><span>Since 2016</span><div class="primary-font-title">Billy Craft</div><span>Developer</span></div>
        </li>
        <li class="link has-hover-image" data-img="images/team5.jpg">
            <div class="team-member has-animation"><span>Since 2018</span><div class="primary-font-title">Cheryl Mezines</div><span>Support Guy</span></div>
        </li>
    </ul>
    
</div> 