<div id="main-content">
    <!-- Main Page Content -->
    <div id="main-page-content" class="content-max-width">
        
        
        <!-- Row -->
        <div class="content-row dark-section" data-bgcolor="#0c0c0c">
        
            <div class="clipped-image-wrapper">
            
                <div class="clipped-image-pin">                                    	
                    <div class="clipped-image">
                        <img src="images/about.jpg" alt="Image Title">
                        <div class="content-video-wrapper">
                            <video loop="" muted="" playsinline="" class="bgvid">
                                <source src="media/about.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div class="clipped-image-gradient"></div>
                    </div>
                </div>
                
                <div class="clipped-image-content text-align-center content-full-width">
                    
                    
                </div>
            
            </div>
            
        </div> 
        <!--/Row -->
        
        
        
        
       
       
        
        
        
        <!-- Row -->
        
        <!--/Row -->
        
        
        
        
    
    </div>
    <!--/Main Page Content -->
    
    <!-- Page Navigation --> 
    <div id="page-nav">
        <div class="page-nav-wrap">
            <div class="page-nav-caption content-full-width text-align-center height-title">                                 
                <div class="inner">
                    <div class="next-hero-subtitle caption-timeline"><span>CONTACT US AND LET'S BRING YOUR VISION TO LIFE</span></div>
                    <a class="page-title next-ajax-link-page" data-type="page-transition" data-centerline="Say Hey" href="contact.html">
                        <div class="next-hero-title primary-font-title caption-timeline"><span>Contact</span></div>
                    </a>                                        
                </div>               
            </div>
        </div>
    </div>      
    <!--/Page Navigation -->
    
            
</div>